<nav class="docs-navbar">
    <a class="docs-button mat-button" md-button>
      <span class="mat-button-wrapper">
      <img _ngcontent-c1="" alt="angular" class="docs-angular-logo"
           src="../../../assets/img/homepage/angular-white-transparent.svg">
      <span _ngcontent-c1="">Material</span>
      </span>
      <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a class="docs-button mat-button" href="/components" md-button>
      <span class="mat-button-wrapper"><span class="material-icons dp48"></span><i class="material-icons">face</i>Components</span>
      <div class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a  class="docs-button" href="/guides" md-button>
      <span class="mat-button-wrapper">Guides</span>
      <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <div class="flex-spacer"></div>

    <a  class="docs-button" href="https://github.com/angular/material2" md-button aria-disabled="false" tabindex="0">
      <span class="mat-button-wrapper">
        <img _ngcontent-c1="" alt="GitHub" class="docs-github-logo" src="../../../assets/img/homepage/github-circle-white-transparent.svg">
        GitHub
      </span>
      <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
</nav>
