<div class="container">
  <md-tab-group>
    <md-tab label="Tab 1">
      <div [hidden]="submitted">

        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <md-list>
            <md-list-item>
              <label for="name">Name &emsp;</label>
              <md-input-container>
                <input type="text" class="form-control" id="name"
                       required mdInput
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel">
              </md-input-container>
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Name is required
              </div>
            </md-list-item>
            <md-list-item>
              <label for="alterEgo">Alter Ego &emsp;</label>
              <md-input-container>
                <input type="text" class="form-control" id="alterEgo" mdInput
                       [(ngModel)]="model.alterEgo" name="alterEgo">
              </md-input-container>
            </md-list-item>
            <md-list-item>
              <label for="power">Hero Power &emsp;</label>

              <md-select name="power" #power="ngModel" id="power"
                         [(ngModel)]="model.power" required>
                <md-option *ngFor="let pow of powers" [value]="pow">
                  {{ pow}}
                </md-option>
              </md-select>

              <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                Power is required
              </div>
            </md-list-item>
            <md-list-item>
              <button type="submit" md-button class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>&emsp;
              <button type="button" md-button class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero
              </button>
            </md-list-item>
          </md-list>

        </form>
      </div>
      <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
          <div class="col-xs-3">Name</div>
          <div class="col-xs-9  pull-left">{{ model.name }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Alter Ego</div>
          <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
        </div>
        <div class="row">
          <div class="col-xs-3">Power</div>
          <div class="col-xs-9 pull-left">{{ model.power }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
    </md-tab>
  </md-tab-group>

</div>

